backend/api/__pycache__
backend/api/migrations/__pycache__
backend/api/models/__pycache__
backend/api/serializers/__pycache__
backend/api/urls/__pycache__
backend/api/views/__pycache__
backend/backend/__pycache__
env/
backend/env
backend/api/management/__pycache__
backend/api/tests/__pycache__
